version: '3.8'

services:
  backend:
    build: ./backend
    command: gunicorn config.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - static_volume:/app/static
      - media_volume:/app/media
    expose:
      - 8000
    env_file:
      - ./.env.prod
    depends_on:
      - db

  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ./.env.prod

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend

  redis:
    image: redis:7-alpine
    expose:
      - 6379

  celery:
    build: ./backend
    command: celery -A config worker -l info
    volumes:
      - static_volume:/app/static
      - media_volume:/app/media
    env_file:
      - ./.env.prod
    depends_on:
      - backend
      - redis
      - db

volumes:
  postgres_data:
  static_volume:
  media_volume:
